{% extends 'website/base_website.html' %}
{% load static %}

{% block head_title %}Generador de Documentos{% endblock head_title %}

{% block css %}
<style>
    .django-ckeditor-widget {
        width: 100%;
    }

    .helptext {
        
    }
</style>
{% endblock css %}

{% block content_header %}

<!-- Main page content-->
<div class="container-xl px-4 mt-5">
    
    <!-- Illustration dashboard card example-->
    <div class="card card-waves mb-4 mt-5">
        <div class="card-body p-5">
            <div class="row align-items-center justify-content-between">
                <div class="col">
                    <h2 class="text-primary">Bienvenido a Docu!</h2>
                    <p class="text-gray-700">La herramienta para generar diferentes tipos de documentos en formato PDF.</p>
                    <a class="btn btn-primary p-3" href="#!">
                        Comenzar
                        <i class="ms-1" data-feather="arrow-right"></i>
                    </a>
                </div>
                <div class="col d-none d-lg-block mt-xxl-n4">
                    <img class="img-fluid px-xl-4 mt-xxl-n5" src="{% static 'website/img/illustrations/home.svg' %}"/>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content_header %}

{% block content_header_title %}{% endblock content_header_title %}

{% block content_header_subtitle %}{% endblock content_header_subtitle %}

{% block content_header_extra %}{% endblock content_header_extra %}

{% block content_body %}{% endblock content_body %}

{% block js %}{% endblock js %}