{% extends 'website/base_website.html' %}
{% load static %}

{% block head_title %} {{ title }} {% endblock head_title %}

{% block css %}
<style>
    .django-ckeditor-widget {
        width: 100%;
    }

    .helptext {
        
    }
</style>
{% endblock css %}

{% block url_name %}website:add_ordinario{% endblock url_name %}

{% block content_header_title %}
    {% if action == 'create' %}
    <div class="page-header-icon"><i data-feather="plus"></i></div>
    Agregar Ordinario
    {% else %}
    <div class="page-header-icon"><i data-feather="edit"></i></div>
    Editar Ordinario
    {% endif %}
{% endblock content_header_title %}

{% block content_header_subtitle %}
    {% if action == 'create' %}
    {% else %}
        {{ object.materia }}
    {% endif %}
{% endblock content_header_subtitle %}

{% block content_header_extra %}{% endblock content_header_extra %}

{% block content_body %}

    {% if action == 'create' %}
    <div id="default">
        <div class="card mb-4">
            <div class="card-header">Genere su documento</div>
            <form action="" method="POST" id="formAddOrdinario" class="form-inline">
                <div class="card-body">   
                    <!-- Component Preview-->
                    <div class="sbp-preview">
                        <div class="sbp-preview-content">
                            {% csrf_token %}

                            {% if form.non_field_errors %}
                                <ul>
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}

                            {% for hidden_field in form.hidden_fields %}
                                {% if hidden_field.errors %}
                                <ul>
                                    {% for error in hidden_field.errors %}
                                    <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                {{ hidden_field }}
                            {% endfor %}

                            {{ form.media }}
                            
                            {% for field in form %}
                                {{ field.label_tag}}
                                
                                {% if field.field.required %}
                                    <span style="color: red;" class="required">*</span>
                                {% endif %}
                            
                                {{ field }}
                                
                                {% if field.help_text %}
                                    <small style="color: grey">{{ field.help_text }}</small>
                                {% endif %}

                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                                {% comment %} <div class="form-group card-body">
                                    
                                </div> {% endcomment %}
                            {% endfor %}
                            <br>
                    </div>
                    <h5 class="text-info">Agregar Distribucion Externa</h5>
                    
                    {{ ordinario_distribucion_externa_formset.non_form_errors }}
                    {{ ordinario_distribucion_externa_formset.management_form }}
                    
                    {% for form in ordinario_distribucion_externa_formset %}
                    
                        <div class="d-flex py-1 inline {{ ordinario_distribucion_externa_formset.prefix }}">
                            <div>{{form.descripcion.label}}: {{ form.descripcion }}</div>
                            <div class="ml-4">{{form.direccion.label}}: {{ form.direccion }}</div>
                            {% if ordinario_distribucion_externa_formset.can_delete %}
                                <div class="ml-4">{{ form.DELETE }} {{ form.DELETE.label }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <div class="sbp-preview-text text-left">
                        <a href="{% url 'website:list_ordinarios' %}" class="btn btn-outline-dark" type="button">                       
                            <i data-feather="arrow-left"></i>
                            Volver
                        </a>
                        <button type="submit" class="btn btn-primary me-2 my-1" id="AddOrdinario">Guardar</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div> 
    {% elif action == 'edit' %}
    <form action="" method="POST" id='formEditOrdinario'>
        {% csrf_token %}
        {{ form.media }}
        {{ form }}
        <br>
        <div class="modal-footer">
            <a class="btn btn-light" type="button" href="{% url 'website:list_ordinarios' %}">Volver</a>
            <button class="btn btn-primary" type="submit" id="btnEditOrdinario">Guardar</button>
        </div>
    </form>
    {% endif %}

{% endblock content_body %}

{% block js %}

<script type='text/javascript'>

    let radio_tiene_distribucion_externa = document.querySelectorAll('input[name="tiene_distribucion_externa"]');
    
    function showHideFormFields() {

        label_distribuciones_externas.style.display = 'none';
        select_distribuciones_externas.style.display = 'none';

    }

    radio_tiene_distribucion_externa.forEach(function(radioButton) {

        radioButton.addEventListener('change', function() {
            
            var selectedValue = document.querySelector('input[name="tiene_distribucion_externa"]:checked').value;
            
            if (selectedValue == 'True') {

                label_distribuciones_externas.style.display = 'block';
                select_distribuciones_externas.style.display = 'block';
            } else {
                label_distribuciones_externas.style.display = 'none';
                select_distribuciones_externas.style.display = 'none';
            }  
        });
    });

    window.onload = function() { showHideFormFields(); }
</script>
{% endblock js %}