{% extends 'website/base_website.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %} {{ title }} {% endblock head_title %}

{% block css %}
<style>
    .django-ckeditor-widget {
        width: 100%;
    }

    .helptext {
        
    }
</style>
{% endblock css %}

{% block url_name %}website:add_ordinario{% endblock url_name %}

{% block content_header_title %}
    {% if action == 'create' %}
    <div class="page-header-icon"><i data-feather="plus"></i></div>
    Agregar Ordinario
    {% else %}
    <div class="page-header-icon"><i data-feather="edit"></i></div>
    Editar Ordinario
    {% endif %}
{% endblock content_header_title %}

{% block content_header_subtitle %}
    {% if action == 'create' %}
    {% else %}
        {{ object.materia }}
    {% endif %}
{% endblock content_header_subtitle %}

{% block content_header_extra %}{% endblock content_header_extra %}

{% block content_body %}

    <div id="default">
        <div class="card mb-4">
            <div class="card-header">Genere su documento</div>

            {% comment %} <div class="card-body">

                <div class="sbp-preview">
                    <div class="sbp-preview-content">
                        {% crispy form %}
                    </div>
                </div>
            </div> {% endcomment %}

            <form action="" method="POST" id="formAddOrdinario">
                {% csrf_token %}

                <div class="card-body">

                    <!-- Component Preview-->
                    <div class="sbp-preview">
                        <div class="sbp-preview-content">
                            
                            {% if form.non_field_errors %}
                                <ul>
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}

                            {% for hidden_field in form.hidden_fields %}
                                {% if hidden_field.errors %}
                                <ul>
                                    {% for error in hidden_field.errors %}
                                    <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                {{ hidden_field }}
                            {% endfor %}

                            <!-- CKEditor TextArea -->
                            {{ form.media }}

                            <!-- MAIN: Ordinario Form -->
                            {% for field in form %}
                                <div class="form-group mb-3">
                                    <label> {{ field.label }}</label>

                                    {% if field.field.required %}
                                        <span style="color: red;" class="required">*</span>
                                    {% endif %}
                                    
                                    {{ field }}
                                    
                                    {% if field.help_text %}
                                        <small style="color: grey" class="form-text text-muted">{{ field.help_text }}</small>
                                    {% endif %}

                                    {% for error in field.errors %}
                                        <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endfor %}

                            <!-- Distribuciones Externas FormSet -->
                            <div id="formsetDistExtContainer">
                            {% with named_formsets.distribuciones_externas as formset %}

                                {{ formset.management_form }}

                    
                                <div class="table-responsive card mt-4">
                                    <div class="card-header card-header-secondary">
                                        <h4 class="card-title">Agregar Distribuciones Externas</h4>
                                    </div>
                                    <table class="table card-header">
                                        <thead class="text-primary">
                                            <th>Descripción <span style="color: red;" class="required">*</span></th>
                                            <th>Dirección<span style="color: red;" class="required">*</span></th>
                                            <th>Eliminar?</th>
                                            <th></th>
                                        </thead>
                                        <tbody id="item-distribExterna">  <!-- id="item-inlineformsetname" -->
                                            <!-- formset non forms errors -->
                                            {% for error in formset.non_form_errors %}
                                                <span style="color: red">{{ error }}</span>
                                            {% endfor %}

                                            {% for formss in formset %}
                                                {{ formss.management_form }}
                                                <tr id="distribuciones_externas-{{ forloop.counter0 }}" class=hide_all>  <!-- id="inlineformsetname-counter" -->
                                                    {{ formss.id }}
                                                    
                                                    {% for field in formss.visible_fields %}
                                                        <td>
                                                            {{field}}
                                                            {% for error in field.errors %}
                                                                <span style="color: red">{{ error }}</span>
                                                            {% endfor %}
                                                        </td>
                                                    {% endfor %}

                                                    <!-- delete code -->
                                                    {% if formss.instance.id %}
                                                        <td>
                                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal{{formss.instance.id}}">
                                                                Eliminar
                                                            </button>

                                                            <!-- Modal -->
                                                            <div class="modal fade" id="modal{{formss.instance.id}}" tabindex="-1" role="dialog" aria-labelledby="modalLabel{{formss.instance.id}}" aria-hidden="true">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="modalLabel{{formss.instance.id}}">¿Está seguro que quiere eliminar esta distribución?</h5>
                                                                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                        </div>

                                                                        <div class="modal-body">
                                                                            <p><strong>Descripción: </strong> {{ formss.instance.descripcion }}</p>
                                                                            <p><strong>Dirección: </strong>{{ formss.instance.direccion }}</p>
                                                                        </div>

                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancelar</button>

                                                                            <a href="{% url 'website:delete_distribucion_externa' formss.instance.pk %}" type="button" class="btn btn-danger">Sí, eliminar</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>            
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                    <script type="text/html" id="distExterna-template">  // id="inlineformsetname-template"
                                        // id='inlineformsetname-__prefix__' 
                                        <tr id="distribuciones_externas-__prefix__" class= hide_all>
                                            {% for fields in formset.empty_form.hidden_fields %}
                                                {{ fields }}
                                            {% endfor %}
                                        
                                            {% for fields in formset.empty_form.visible_fields %}
                                                <td>{{fields}}</td>
                                            {% endfor %}
                                        </tr>
                                    </script>
                                    
                                </div>
                                <br>
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="#" id="add-variant-button" class="btn btn-orange add-distribucion-externa">Agregar Distribución Externa</a> <!-- id="add-inlineformsetname-button" -->
                                </div>
                                <br>
                            {% endwith %}
                            </div>
                            
                        
                            <!-- Actions -->
                            <div class="sbp-preview-text d-flex justify-content-between">
                                <a href="{% url 'website:list_ordinarios' %}" class="btn btn-outline-dark" type="button">                       
                                    <i data-feather="arrow-left"></i>&nbsp;
                                    Volver
                                </a>

                                <button type="submit" class="btn btn-primary" id="AddOrdinario">
                                    <i data-feather="save"></i>&nbsp;
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div> 
{% endblock content_body %}

{% block js %}

<script type='text/javascript'>

    let radio_tiene_distribucion_externa = document.querySelectorAll('input[name="tiene_distribucion_externa"]');
    let div_formset_distribuciones_externas = document.querySelector('#formsetDistExtContainer');

    radio_tiene_distribucion_externa.forEach(function(radioButton) {

        radioButton.addEventListener('change', function() {
            
            var selectedValue = document.querySelector('input[name="tiene_distribucion_externa"]:checked').value;
            
            if (selectedValue == 'True') {

                div_formset_distribuciones_externas.style.display = 'block';  

            } else {
                div_formset_distribuciones_externas.style.display = 'none';
            }  
        });
    });

    window.onload = function() { 

        div_formset_distribuciones_externas.style.display = 'none';

    }

</script>

<script type='text/javascript'>
 
    $(document).ready(function() {
        // when user clicks add distribucion externa btn of distribuciones externas
        $('.add-distribucion-externa').click(function(ev) {
              ev.preventDefault();
              var count = $('#item-distribExterna').children().length;
              var tmplMarkup = $('#distExterna-template').html();
              var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
              $('#item-distribExterna').append(compiledTmpl);
      
              // update form count
              $('#id_distribuciones_externas-TOTAL_FORMS').attr('value', count+1);
        });
    });
</script>
{% endblock js %}