{% extends 'website/base_website.html' %}
{% load static %}
{% load get_servicio_value %}


{% block head_title %} {{ title }} {% endblock head_title %}

{% block url_name %}website:list_ordinarios{% endblock url_name %}

{% block content_header_title %}
    <div class="page-header-icon"><i data-feather="file-text"></i></div>
    {{ object.materia }}
{% endblock content_header_title %}

{% block content_header_subtitle %}{% endblock content_header_subtitle %}

{% block content_body %}

<div class="card">
    <div class="card-header">
        Ordinario
    </div>

    <div class="card-body">
        
        <h4>Antecente:</h4>
        <p id="antecedente" class="lead mb-4">
            {% if object.antecedente != '' %}
                {{ object.antecedente|title }}
            {% else %}
                Sin descripción
            {% endif %}
        </p>

        <h4>Materia:</h4>
        <p id="materia" class="lead mb-4">
            {{ object.materia|title }}
        </p>
        
        <h4>De:</h4>                        
        <p id="de" class="lead mb-4">
            {{ object.de|title }}
        </p>

        <h4>Cargo:</h4>
        <p id="cargo_de" class="lead mb-4">
            {{ object.cargo_de|title }}
        </p>

        <h4>A:</h4>
        <p id="a" class="lead mb-4">
            {{ object.a|title }}
        </p>

        <h4>Cargo:</h4>
        <p id="cargo_a" class="lead mb-4">
            {% if object.cargo_a != '' %}
                {{ object.a|title }}
            {% else %}
                Sin descripción
            {% endif %}
        </p>

        <h4>Cuerpo:</h4>
        <p id="cuerpo" class="lead mb-4">
            {{ object.cuerpo|safe }}
        </p>

        <h4>Adjunto:</h4>
        <p id="adjunto" class="lead mb-4">
            {% if object.adjunto != '' %}
                {{ object.adjunto }}
            {% else %}
                Sin descripción
            {% endif %}
        </p>

        <h4>Servicio:</h4>
        <p id="servicio" class="lead mb-4">
            {{ object.servicio|get_servicio_value }}                        
        </p>

        <h4>Teléfono:</h4>
        <p id="telefono" class="lead mb-4">
            {{ object.telefono }}                        
        </p>
        
    </div>

</div>
<br>
<div class="row">

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Distribuciones Internas</div>
    
            <div class="card-body">
                <ul>
                {% for distribucion_interna in object.distribuciones_internas_asociadas %}
                    <li>{{ distribucion_interna }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-6">
         <div class="card">
            <div class="card-header">Distribuciones Externas</div>
            <div class="card-body">
                <ul>
                {% for distribucion_externa in distribuciones_externas %}
                    <li><strong>Descripción:</strong> {{ distribucion_externa.descripcion }} / <strong>Direccion:</strong>  {{ distribucion_externa.direccion }} </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<br>

<div class="card">
    <div class="card-footer d-flex justify-content-between">
        
        <a class="btn btn-outline-dark" href="{% url 'website:list_ordinarios' %}">
            <i data-feather="arrow-left"></i>&nbsp;
            Volver
        </a>
        
        <a href="{% url 'website:download_document' object.slug %}" class="btn btn-success" type="button" id="download_document" target="_blank">
            <i data-feather="download"></i>&nbsp;
            Descargar Ordinario
        </a>
    </div>
</div>

{% endblock content_body %}